<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<!--The above 3 meta tags *must* come first in the head; any other head
content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
  <title>ブログ編集画面</title>
      <!-- Bootstrap core CSS -->
    <link href="/blog-project/public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/blog-project/public/css/blog.css" rel="stylesheet">
    <link href="/blog-project/public/css/dashboard.css" rel="stylesheet">
</head>
		<body>
    <!-- header-->
  {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_header.html'%}}
    <!--header End-->
    <!-- sidebar-->
  {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_sidebar.html'%}}
    <!--sidebar -->
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="page-header">BLOGを書く</h3>
    <div>
         {{%if $errors%}}
       <div class="alert alert-error bg-danger has-error">
         <span class="help-block">入力にエラーがあります。</span>
       </div>
       {{%/if%}}
    <form role="form" action="create.php" method="post">
       {{%if $flash_msg%}}
       <div class="alert alert-error bg-danger has-error">
          <span class="help-block">{{%$flash_msg%}}</span> {{%/if%}}
      </div>

       <div class="form-group control-group {{%if $errors.title%}} has-error error{{%/if%}}">
         <label for="usr">タイトル:</label>
         <input type="text" name="title" value="{{%$title%}}" class="form-control" id="usr">
         {{%if $errors.title%}} <span class="help-block">{{%$errors.title%}}</span>{{%/if%}}
       </div>

       <div class="form-group {{%if $errors.body%}}has-error error{{%/if%}}">
        <label for="pwd">本文:</label>
      <textarea id="aaa" name="body" class="form-control">{{%$body%}}</textarea>
      <input type="hidden" name="token" value="{{%$token%}}">
       <button type="submit" class="btn btn-lg btn-primary">登録する</button>
     </form>
      </div>
	</div>
    <!--footer-->
  {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_footer.html'%}}
    <script src="/blog-project/public/js/tinymce.min.js"></script>
    <script>
    tinymce.init({
        selector: "#aaa", // id="foo"の場所にTinyMCEを適用
    });
    </script>
  <!--footer End-->
  	</body>
</html>