<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/blog-project/public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/blog-project/public/css/blog.css" rel="stylesheet">
    <link href="/blog-project/public/css/dashboard.css" rel="stylesheet">

  </head>

  <body>
    <!-- header-->
 {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_header.html'%}}
    <!--header End-->

    <div class="container-fluid">
      <div class="row">
          <!-- sidebar-->
      {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_sidebar.html'%}}
           <!--sidebar -->
       <!--
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">ブログ一覧</a></li>
          </ul>
        </div>
      -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">BLOG</h1>
          <button>
          <a href="/blog-project/public/admin/blog/create.php">新規投稿</a>
          </button>
          <h3 class="sub-header">ブログ一覧</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>タイトル</th>
                  <th>日時</th>
                  <th>本文</th>
                  <th>編集</th>
                </tr>
              </thead>
              <tbody>
              {{%foreach $blogs as $key =>$value%}}
                <tr>
                  <td>{{%$value.title%}}</td>
                  <td>{{%$value.created%}}</td>
                  <td>{{%$value.body|truncate:10%}}</td>
                  <td>
                  <button type="button" class="btn btn-success" onClick="location.href='./edit.php?post_id={{%$value.id%}}'">編集</button>
                  <a href ="./delete.php?post_id={{%$value.id%}}&common=true" class="confirm" id="alert" title="ブログ【{{%$value.title%}}】を削除します。<br />よろしいですか？"><button type="button" class="btn btn-danger">削除</button></a>
                  </td>
                </tr>
                  {{%/foreach%}}
              </tbody>
            </table>
                <nav>
                <ul class="pagination">{{%$links.all|replace:'<a ':'<li><a '|replace:'</a>':'</a></li>'|replace:'<span>':''|replace:'</span>':''%}}</ul>
                </nav>
          </div>
        </div>
      </div>
    </div>


  <!--footer-->
  {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_footer.html'%}}
  <!--footer End-->

  </body>
</html>