<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li {{%if $smarty.server.SCRIPT_NAME ==
		'/admin/index.php'%}}class= "active"{{%/if%}}><a href="/blog-project/public/admin/mypage.php">HOME</a></li>
		<li {{%if $smarty.server.SCRIPT_NAME|mb_strpos:'blog'%}}class="active"{{%/if%}}>
			<a href="/blog-project/public/admin/blog/index.php">BLOGを書く</a></li>
		<li>
			<a href="/blog-project/public/admin/account/edit.php">プロフィール編集</a>
		</li>
		<li><a href="/blog-project/public/admin/setting/edit.php">ブログの編集設定</a>
		</li>
		<!--
		<li><a href="#">Export</a></li>
		-->
	</ul>
</div>