<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<!--The above 3 meta tags *must* come first in the head; any other head
content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>アカウント設定画面</title>
	    <!-- Bootstrap core CSS -->
    <link href="/blog-project/public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/blog-project/public/css/dashboard.css" rel="stylesheet">
    <link href="/blog-project/public/css/blog.css" rel="stylesheet">
</head>
<body>
  <!-- header -->
  {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_header.html'%}}
  <!-- header End -->

    <div class="container-fluid">
      <div class="row">

        <!-- sidebar -->
        {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_sidebar.html'%}}
        <!-- sidebar End -->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">アカウントの編集</h1>
          <div>
              {{%if $errors%}}
            <div class="alert alert-error bg-danger has-error">
              <span class="help-block">入力にエラーがあります。</span>
            </div>
            {{%/if%}}
            {{%if $flash_msg%}}
            <div class="alert alert-success" role="alert">
              <span class="help-block">{{%$flash_msg%}}</span>
            </div>
            {{%/if%}}

            <form role="form" action="./edit.php" method="post">

              <div class="form-group {{%if $errors.name%}}has-error error{{%/if%}}">
                <label for="usr">名前:</label><span class="label label-default">100文字以内</span>
                <input type="text" name="name" value="{{%$name%}}" class="form-control" id="usr">
                {{%if $errors.name%}}<span class="help-block">{{%$errors.name%}}</span>{{%/if%}}
              </div>
              <div class="form-group {{%if $errors.email%}}has-error error{{%/if%}}">
                <label for="usr">メールアドレス:</label><span class="label label-default">100文字以内</span>
                <input type="text" name="email" value="{{%$email%}}" class="form-control" id="usr">
                {{%if $errors.email%}}<span class="help-block">{{%$errors.email%}}</span>{{%/if%}}
              </div>
              <div class="form-group {{%if $errors.password%}}has-error error{{%/if%}}">
                <label for="usr">パスワード:</label>
                <input type="password" name="password" value="{{%$password%}}" class="form-control" id="usr">
                {{%if $errors.password%}}<span class="help-block">{{%$errors.password%}}</span>{{%/if%}}
              </div>
              <button type="submit" class="btn btn-lg btn-primary">更新</button>
              <input type="hidden" name="id" value="{{%$id%}}">
              <input type="hidden" name="token" value="{{%$token%}}">
            </form>
          </div>

        </div>
      </div>
    </div>

    <!-- footer -->
    {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_footer.html'%}}
    <!-- footer End -->
  </body>
</html>