<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<!--The above 3 meta tags *must* come first in the head; any other head
content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Signin Template for Bootstrap</title>

<!--Bootstrap core CSS-->
<link href="/blog-project/public/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this templates-->
<link href="/blog-project/public/css/login.css" rel="stylesheet">
</head>
<body>
	<div class="container">
     <form class="form-signin" action="login.php" method="post">

       <h2 class="form-signin-heading">Please Log in</h2>

       {{%if $errors%}}
       <div class="alert alert-error bg-danger has-error">
         <span class="help-block">メールアドレスまたはパスワードが違います。</span>
       </div>
       {{%/if%}}
       {{%if $flash_msg%}}
       <div class="alert alert-error bg-danger has-error">
          <span class="help-block">{{%$flash_msg%}}</span>
        </div>
       {{%/if%}}

       <div class="form-group control-group {{%if $errors.email%}} has-error error{{%/if%}}">
         <label for="inputEmail" class="sr-only">Email address</label>
         <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
         {{%if $errors.email%}} <span class="help-block"> {{%$errors.email%}}</span>{{%/if%}}
       </div>

       <div class="form-group control-group {{%if $errors.password%}}has-error error{{%/if%}}">
         <label for="inputPassword" class="sr-only">Password</label>
         <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
         {{%if $errors.password%}} <span class="help-block">{{%$errors.password%}}</span>{{%/if%}}
        </div>

       <div class="checkbox">
         <label>
           <input type="checkbox" value="remember-me"> Remember me
         </label>
       </div>
       <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
     </form>
   </div>
</body>
</html>